<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}User Manager{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="{{ url_for('index') }}" class="logo">UserApp</a>
        <ul class="nav-links">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </div>
    </nav>

    <main class="container">
        {% block content %}
         {% endblock %}
        </main>

    <footer>
      <p>&copy; 2026 Flask Beginner Tutorial</p>
    </footer>
  </body>
</html>
